fileprocessing/src/main/mule/file_choice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="text_files" doc:name="File Config" doc:id="3fc0515f-46ca-4b1c-afe9-9c8bd7f91492" >
		<file:connection workingDir="D:\outbox\textfile" />
	</file:config>
	<file:config name="other_files" doc:name="File Config" doc:id="3eeaa27d-979e-4ed7-8f5a-2422ffb426cc" >
		<file:connection workingDir="D:\outbox\others" />
	</file:config>
	<file:config name="pdf_files" doc:name="File Config" doc:id="c1b1e5ce-8338-403d-b9f6-99c4fbfe3398" >
		<file:connection workingDir="D:\outbox\pdffiles" />
	</file:config>
	<flow name="file_choiceFlow" doc:id="eb3e4015-8d46-4f5a-bbc7-f96c632605c0" >
		<file:listener doc:name="On New or Updated File" doc:id="d9736e9c-de36-434d-98c1-df330ebf2662" directory="choice" recursive="false" autoDelete="true" config-ref="input_location">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<choice doc:name="Choice" doc:id="2dbd0b00-2639-4ad7-860a-1eaa6059a0c8" >
			<when expression="#[endsWith(attributes.fileName,'pdf')]">
				<file:write doc:name="pdf_files" doc:id="ff6f60d6-cbda-45cc-a058-d5b8daad5db4" path="#[attributes.fileName]" config-ref="pdf_files"/>
			</when>
			<when expression="#[endsWith(attributes.fileName,'textfile')]">
				<file:write doc:name="text_files" doc:id="d12359ea-742a-4da7-bbe7-3ff8fb7ee8f5" config-ref="text_files" path="#[attributes.fileName]"/>
			</when>
			<otherwise >
				<file:write doc:name="other" doc:id="ec914ed9-f052-40c2-8f4b-0b27fd304c65" config-ref="other_files" path="#[attributes.fileName]"/>
			</otherwise>
		</choice>
	</flow>
</mule>
