fileprocessing/src/main/mule/filechoice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="pdf_file" doc:name="File Config" doc:id="29ef453b-7010-4b93-a45e-37ae6755c443" >
		<file:connection workingDir="D:\outbox\pdffiles" />
	</file:config>
	<file:config name="textfile" doc:name="File Config" doc:id="c2e2a165-93f7-444b-a526-1c9d326fd25b" >
		<file:connection workingDir="D:\outbox\textfile" />
	</file:config>
	<file:config name="others" doc:name="File Config" doc:id="c616318a-a87b-42eb-82ac-3294b3d9e733" >
		<file:connection workingDir="D:\outbox\others" />
	</file:config>
	<flow name="filechoiceFlow" doc:id="c702556e-cde1-46db-803a-79990779cd7a" >
		<file:listener doc:name="On New or Updated File" doc:id="16f95af8-af7a-479f-ba61-1d6928fe3daf" config-ref="inbound_location" directory="choice" autoDelete="true">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<choice doc:name="Choice" doc:id="0ea1762c-c207-488f-8fd1-80791e55f800" >
			<when expression="#[endsWith(attributes.fileName,'pdf')]">
				<file:write doc:name="pdf_file" doc:id="b20b80db-616e-4c53-bbff-881b1912d662" config-ref="pdf_file" path="#[attributes.fileName]"/>
			</when>
			<when expression="#[endsWith(attributes.fileName,'text')]">
				<file:write doc:name="textfile" doc:id="ab777eac-43a2-49e8-866e-7a3cd25ac8ad" config-ref="textfile" path="#[attributes.fileName]"/>
			</when>
			<otherwise >
				<file:write doc:name="otherfile" doc:id="ce54ac38-314a-4781-8588-994a8ce9d3d8" config-ref="others" path="#[attributes.fileName]"/>
			</otherwise>
		</choice>
	</flow>
</mule>
