fileprocessing/src/main/mule/fileprocessing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="inbound_location" doc:name="File Config" doc:id="a712f873-b609-4393-b4a5-30e9bce9de12" >
		<file:connection workingDir="D:\inbox" />
	</file:config>
	<file:config name="outbound_location" doc:name="File Config" doc:id="4bcd032d-19ff-4a91-a694-6c135ca4e6c6" >
		<file:connection workingDir="D:\outbox" />
	</file:config>
	<flow name="fileprocessingFlow" doc:id="c2cfb919-a81e-47f6-a490-545add147efb" >
		<file:listener doc:name="On New or Updated File" doc:id="55e680b4-a835-4c6b-954f-d49862efd5a9" config-ref="inbound_location" directory="input" recursive="false" autoDelete="true">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="9ff92002-2c05-413b-a551-2250eddfbd94" message="#[attributes.fileName]"/>
		<file:write doc:name="Write" doc:id="bfff57c7-2cb2-4d64-a2e8-4aa8af4b1809" config-ref="outbound_location" path="#[attributes.fileName]"/>
	</flow>
</mule>
