fileprocessing/src/main/mule/fileprocessingchoice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="inbound" doc:name="File Config" doc:id="834d2a3c-3468-444d-b845-345d671ca9de" >
		<file:connection workingDir="D:\inbox" />
	</file:config>
	<file:config name="pdf_files" doc:name="File Config" doc:id="33786175-0ca3-4234-a1ca-db8f6a57945b" >
		<file:connection workingDir="D:\outbox\pdffiles" />
	</file:config>
	<file:config name="textfiles" doc:name="File Config" doc:id="e56ab5b8-8f48-46d3-af0c-081a025be94b" >
		<file:connection workingDir="D:\outbox\textfile" />
	</file:config>
	<file:config name="others" doc:name="File Config" doc:id="20d8f0b9-8bda-4fce-a5ec-f2499b332cce" >
		<file:connection workingDir="D:\outbox\others" />
	</file:config>
	<flow name="fileprocessingchoiceFlow" doc:id="0bebe3bb-428b-4e94-9322-212147c2741e" >
		<file:listener doc:name="On New or Updated File" doc:id="a68bc2d8-a708-4cd7-a64e-22e17e448e1b" config-ref="inbound" directory="choice" recursive="false" autoDelete="true">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<choice doc:name="Choice" doc:id="b95f883c-360b-45ca-bc1a-ca025b610131" >
			<when expression="#[endsWith(attributes.fileName,'pdf')]">
				<file:write doc:name="pdf_files" doc:id="d1fe6003-2128-47ac-bbea-81447ff7e3d5" config-ref="pdf_files" path="#[attributes.fileName]"/>
			</when>
			<when expression="#[endsWith(attributes.fileName,'textfiles')]">
				<file:write doc:name="textfiles" doc:id="078b2d51-c985-4339-b86f-d22dbf2cb72e" config-ref="textfiles" path="#[attributes.fileName]"/>
			</when>
			<otherwise >
				<file:write doc:name="others" doc:id="63003adf-2b6f-440d-a398-868a0371c4dd" config-ref="others" path="#[attributes.fileName]"/>
			</otherwise>
		</choice>
	</flow>
</mule>
