foreachscope/src/main/mule/foreachscope.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1deca24d-99d6-4692-b1d5-4ae26661c339" basePath="for/each" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="9920a923-eda9-44e3-9b65-c3bfda7ef1d9" >
		<file:connection workingDir="D:\inbox" />
	</file:config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="576a7ca3-7f40-40ec-a492-4c19511a5cdc" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="batch45" />
	</db:config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="db5a8a71-6aa9-42c7-be10-650672a868bf" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="batch45" />
	</db:config>
	<flow name="foreachscopeFlow" doc:id="db272754-7296-4b76-aca2-c252e0443109" >
		<file:listener doc:name="On New or Updated File" doc:id="4a7db757-853f-43f1-8af0-529935e9735c" config-ref="File_Config" directory="productsinfo" recursive="false" autoDelete="true">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="9db5605f-bd3b-474a-94e1-0657acbacef3" message="file content is #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="3cf3e261-8d2b-4e98-a846-057fb0c1f508" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="794d03f7-7646-4464-9621-966b4a27f576" >
			<logger level="INFO" doc:name="Logger" doc:id="fa780b67-16b0-4fc5-8605-9c2dbb9d5b5b" message="inside for each scope  #[payload]"/>
			<db:insert doc:name="Insert" doc:id="9586dcf8-ae4f-487d-ba26-756327989187" config-ref="Database_Config">
				<db:sql ><![CDATA[insert into products (pid,name,price,vendor) values (:id,:name,:price,:vendor)]]></db:sql>
				<db:input-parameters ><![CDATA[{pid:#[payload.productid],name:#[payload.name],price:#[payload.price],vendor:#[payload.vendor]]]></db:input-parameters>
			</db:insert>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="2b9fa2f0-355f-43e0-8687-0b0b601805c8" message="all products saved in to database #[payload]"/>
	</flow>
</mule>
