hello/src/main/mule/hello1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="hello1Flow" doc:id="2c7b032e-eb25-46c4-85e1-eff42713b1c5" >
		<http:listener doc:name="Listener" doc:id="95d8a5e2-69f4-42f3-9c01-b1b85e6a64ae" config-ref="HTTP_Listener_config" path="hello1"/>
		<logger level="INFO" doc:name="Logger" doc:id="8fe4c922-6c82-4cd3-844c-e208e01d0e2f" message="#[attributes.queryParams]"/>
		<set-payload value="#[attributes.queryParams]" doc:name="Set Payload" doc:id="2067b7c8-2056-4ee7-8496-b594b8aa37e4" />
		<ee:transform doc:name="Transform Message" doc:id="515873a6-a0c3-412d-b22e-7dddfe35d70e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
