scope/src/main/mule/scope.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<file:config name="inbound_location" doc:name="File Config" doc:id="9f600530-96ca-4812-8089-d44cace6e453" >
		<file:connection workingDir="D:\inbox" />
	</file:config>
	<flow name="scopeFlow" doc:id="9896179c-e15f-4580-a7ee-ed3db7562058" >
		<file:listener doc:name="On New or Updated File" doc:id="30da6f34-d249-4063-be67-980e73f55ca1" config-ref="inbound_location" directory="productsinfo" recursive="false" autoDelete="true">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="9e20d9bf-4821-483f-9ccc-39fbf7435e4f" message="'the product is' #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="ff23cbdb-fca6-464f-b522-de5ac4695ed6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="38568454-dbf0-4f8a-9391-ba845d18436d" >
			<logger level="INFO" doc:name="Logger" doc:id="bd82c5d6-8fb1-40b0-85bb-e7ad1a2649fd" message="inside for each scope #[payload]"/>
		</foreach>
	</flow>
</mule>
