eachscope/src/main/mule/eachscope.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="5948900b-352b-4af8-829c-7970a8ac5970" >
		<file:connection workingDir="D:\inbox" />
	</file:config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="7bc308cb-d543-465a-a904-633a366bbb70" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="mule" />
	</db:config>
	<flow name="eachscopeFlow" doc:id="03a91ee9-7004-4bef-88e7-2d628131a443" >
		<file:listener doc:name="On New or Updated File" doc:id="4ae55bdb-21ad-460b-bfe6-86c2d3cbb496" config-ref="File_Config" directory="productsinfo" recursive="false" autoDelete="true">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="b7a8e307-268d-42cf-9f67-e7bc235cc320" message="file content is #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="57f077ab-fed5-447b-8604-0c30a89bfb92" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="fde29052-088d-49c3-b309-dee3f4cb05b3" >
			<logger level="INFO" doc:name="Logger" doc:id="d7cb9e64-b18f-4744-a322-d562c663cd0f" message="inside for each scope #[payload]"/>
			<db:insert doc:name="Insert" doc:id="263d6d00-43a2-4b91-a9e4-ce61219679ee" config-ref="Database_Config">
				<db:sql ><![CDATA[insert into product (pid,name,price,vendor) values (:pid,:name,:price,:vendor)]]></db:sql>
				<db:input-parameters ><![CDATA[{pid:#[payload.productId],name:#[payload.name],price:#[payload.price],vendor:#[payload.vendor]]]></db:input-parameters>
			</db:insert>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="34df4218-be46-4981-900b-e2377cba0c75" message="all products are saved into database"/>
	</flow>
</mule>
