soap/src/main/mule/soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="49bfd183-11e2-452e-ac3e-bbfd6b279a62" basePath="soap" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="b54b30d0-4d13-49dc-b75a-5aef0030a680" >
		<wsc:connection wsdlLocation="https://ecs.syr.edu/faculty/fawcett/Handouts/cse775/code/calcWebService/Calc.asmx?WSDL" service="Calculator_x0020_Web_x0020_Service" port="Calculator_x0020_Web_x0020_ServiceSoap12" address="https://ecs.syr.edu/faculty/fawcett/Handouts/cse775/code/calcWebService/Calc.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="soapFlow" doc:id="0cce4c45-dbf2-4b41-8b81-16d0162d1a81" >
		<http:listener doc:name="Listener" doc:id="a9d6df31-1f59-47d6-85a6-01a5c2ada536" config-ref="HTTP_Listener_config" path="addition"/>
		<set-variable value="#[attributes.queryParams.number1]" doc:name="Set Variable" doc:id="b8288314-61c1-4445-8f45-1178f3d24697" variableName="p1"/>
		<set-variable value="#[attributes.queryParams.number2]" doc:name="Set Variable" doc:id="63785bac-f428-4565-af02-8ced92a30e35" variableName="p2"/>
		<ee:transform doc:name="Transform Message" doc:id="62176266-f0cd-4d87-acbf-fca4c430ee64" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#a: vars.p1 as Number,
		ns0#b: vars.p2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Add" doc:name="Consume" doc:id="f28295fa-1907-4208-95ad-2339051bb8de" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="1eb58256-47f4-4189-8c48-946030e96042" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
