cachedemo/src/main/mule/cachedemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a594c416-70cd-4c4f-bc82-5a18480480dd" basePath="cache" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="b8f45210-671b-4a71-8b7b-0f333f772740" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="mule" />
	</db:config>
	<flow name="cachedemoFlow" doc:id="7d4243f8-6852-44bb-a10e-c7118b39449e" >
		<http:listener doc:name="Listener" doc:id="e3624652-1016-4993-8251-defb5da3f1b0" config-ref="HTTP_Listener_config" path="demo"/>
		<ee:cache doc:name="Cache" doc:id="65a373dc-dc35-4368-81d2-94aebb5a7362" >
			<logger level="INFO" doc:name="Logger" doc:id="bc79da40-be07-4ccb-9618-1c7bd62f2963" message="#[attributes.queryParams]" />
			<db:select doc:name="Select" doc:id="ebf737e6-d44f-43dd-9015-661df1943788" config-ref="Database_Config">
			<db:sql><![CDATA[select * from users]]></db:sql>
		</db:select>
			<ee:transform doc:name="Transform Message" doc:id="d0ae7036-4922-4907-9101-40cf18bb5884">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		</ee:cache>
	</flow>
</mule>
