profile/src/main/mule/profile.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="58169bc7-2460-4a11-a798-d98dc8f48d72" basePath="profile" >
		<http:listener-connection host="0.0.0.0" port="${portnumber}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="abb715ec-56cf-4bc4-8f45-6262dc8379d4" file="pc.properties" />
	<flow name="profileFlow" doc:id="9ead88ce-850e-4834-bbdb-34e19d338c07" >
		<http:listener doc:name="Listener" doc:id="ef3267fe-b4af-4af8-9b3b-52ee40bfb1c9" config-ref="HTTP_Listener_config" path="demo"/>
		<set-payload value="#['hello welcome to mule world pc ! ']" doc:name="Set Payload" doc:id="31a6ce05-61be-4cbf-887b-6930f83ae3b0" />
	</flow>
</mule>
