foreachscope1/src/main/mule/foreachscope1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="4143e34e-8e61-46f5-8590-b910fbcd1c21" >
		<file:connection workingDir="D:\inbox" />
	</file:config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="53fc2933-bff4-4552-b76e-24b9b0da7172" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="mule" />
	</db:config>
	<flow name="foreachscope1Flow" doc:id="fd0b037e-2a48-4219-815f-bc61142ea8b0" >
		<file:listener doc:name="On New or Updated File" doc:id="70daefda-f7eb-4479-aee7-f126afc0b2a7" config-ref="File_Config" directory="productsinfo" recursive="false" autoDelete="true">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="accd6760-8253-4cdb-9784-0abbb63b1f4f" message="product content is #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="18b43fde-ba9c-48aa-87a2-07951f7c44f2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="cc3ac651-c43c-4ef9-a3bd-4526423dc638" >
			<logger level="INFO" doc:name="Logger" doc:id="c5db8d41-318a-403f-a05d-4627c8b80d10" message="inside for each scope #[payload]"/>
			<db:insert doc:name="Insert" doc:id="8a2c2617-d526-43ca-b016-8ca4b7ee66f5" config-ref="Database_Config">
				<db:sql ><![CDATA[insert into product (pid,name,price,vendor) values (:pid,:name,:price,:vendor)]]></db:sql>
				<db:input-parameters ><![CDATA[{pid:#[payload.productId],name:#[payload.name],price:#[payload.price],vendor:#[payload.vendor]}]]></db:input-parameters>
			</db:insert>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="93f1f902-90c1-4071-b938-51dc7c834fcd" message="all products are saved in database"/>
	</flow>
</mule>
