hellodemo/src/main/mule/hellodemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2ec475b5-a040-4bf0-b5a5-f3714a22c023" basePath="mule" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="hellodemoFlow" doc:id="27eb22e1-4b48-45a9-b2c4-9c38cab5ab05" >
		<http:listener doc:name="Listener" doc:id="6493b3e2-2d9b-4cfc-9a65-789ce4f6bcde" config-ref="HTTP_Listener_config" path="hellodemo"/>
		<logger level="INFO" doc:name="Logger" doc:id="459637e7-ff39-46ff-b89f-45bfc5a9dcc2" message="#[attributes.queryParams]"/>
		<set-payload value="#['hello' ++ attributes.queryParams.name]" doc:name="Set Payload" doc:id="e1ffb90b-7d3c-4bcf-9c86-428fc8ba26a7" />
	</flow>
</mule>
