hellodemo/src/main/mule/hellousedemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="hellousedemoFlow" doc:id="e8d915e8-4bf7-47e2-9c40-787baa3c821c" >
		<http:listener doc:name="Listener" doc:id="dcded6c9-76b5-41ad-9539-978a506f4015" config-ref="HTTP_Listener_config" path="hellousedemo"/>
		<logger level="INFO" doc:name="Logger" doc:id="14823a7e-6201-4827-8db3-e68ce7d794df" message="#[attributes.queryParams]"/>
		<set-payload value="#[attributes.queryParams]" doc:name="Set Payload" doc:id="79ebdd1e-1ea0-4b3f-abd4-1a5e9cb748af" />
		<ee:transform doc:name="Transform Message" doc:id="5f9393db-aaf3-4a2d-8d30-18e7f9c9db0e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
