soap_add/src/main/mule/soap_sub.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="soap_subFlow" doc:id="64129bb6-7ef5-487b-b13b-716dc71044d2" >
		<http:listener doc:name="Listener" doc:id="4b10517e-5cb8-43ca-85ce-ae513f6aac60" config-ref="HTTP_Listener_config" path="sub"/>
		<set-variable value="#[attributes.queryParams.number1]" doc:name="Set Variable" doc:id="0d3060ef-fbf9-4e7d-8c9d-a9d8f26de8af" variableName="p1"/>
		<set-variable value="#[attributes.queryParams.number2]" doc:name="Set Variable" doc:id="519a8c92-bd83-4633-87c6-77d902f3b4d3" variableName="p2"/>
		<ee:transform doc:name="Transform Message" doc:id="a069c3b3-b352-44e7-81a9-e15aef574a28" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Subtract: {
		ns0#intA: vars.p1 as Number,
		ns0#intB: vars.p2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Subtract" doc:name="Consume" doc:id="5dd55f32-7f84-4294-a4dd-14550224e283" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="0d422782-f9c5-4ec8-9a94-9b6205456e0e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
