soap_add/src/main/mule/soap_mult.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="soap_multFlow" doc:id="cfea213b-de66-4795-9e38-24934e76fb37" >
		<http:listener doc:name="Listener" doc:id="6d43ea0c-43ab-4994-a649-92150d49db9a" config-ref="HTTP_Listener_config" path="mult"/>
		<set-variable value="#[attributes.queryParams.number1]" doc:name="Set Variable" doc:id="c5a523a7-141c-4561-b1ef-63e4d5050f21" variableName="p1"/>
		<set-variable value="#[attributes.queryParams.number2]" doc:name="Set Variable" doc:id="be14a1d7-9741-4ffc-9bf8-4c73de3c36a6" variableName="p2"/>
		<ee:transform doc:name="Transform Message" doc:id="7458acb0-1612-41fa-b84e-3c60a9ebe0c3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Multiply: {
		ns0#intA: vars.p1 as Number,
		ns0#intB: vars.p2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Multiply" doc:name="Consume" doc:id="1ae3c5e7-1f58-4f42-87cf-c2e1c0405ac8" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="26a25d9e-ce14-4af7-baa6-8f1249f4065b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
