soap_add/src/main/mule/soap_sub.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="soap_subFlow" doc:id="aabdcc20-ca94-4313-8793-1e94db759e6a" >
		<http:listener doc:name="Listener" doc:id="b21496df-30d7-434d-a46b-f92729276000" config-ref="HTTP_Listener_config" path="sub"/>
		<set-variable value="#[attributes.queryParams.number1]" doc:name="Set Variable" doc:id="0488de48-8332-44d4-833b-42a1be4185ce" variableName="p1"/>
		<set-variable value="#[attributes.queryParams.number2]" doc:name="Set Variable" doc:id="973fbdf9-d057-4bbe-87d8-f9236702f6cf" variableName="p2"/>
		<ee:transform doc:name="Transform Message" doc:id="d9997498-63df-4a9d-9c59-ab93c71aa518" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Subtract: {
		ns0#a: vars.p1 as Number,
		ns0#b: vars.p2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Subtract" doc:name="Consume" doc:id="d22ea561-a970-4f91-9ece-fbd2f42a5832" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="7a9c9af7-5710-40d7-8c33-65a461c2bc8e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
