soap_add/src/main/mule/soap_mult.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<flow name="soap_multFlow" doc:id="5e9c9cd4-335b-40ef-af83-ba3111112681" >
		<http:listener doc:name="Listener" doc:id="035ba9e5-a73e-4d12-aed4-92308c1d3c20" config-ref="HTTP_Listener_config" path="mult"/>
		<set-variable value="#[attributes.queryParams.number1]" doc:name="Set Variable" doc:id="f7c56e84-f50c-4209-8272-2353bfea0c95" variableName="p1"/>
		<set-variable value="#[attributes.queryParams.number2]" doc:name="Set Variable" doc:id="cde8af53-c6b7-43f6-97e6-f554e195c2d7" variableName="p2"/>
		<ee:transform doc:name="Transform Message" doc:id="41c01b26-71ae-4bc4-8417-91781ad82a31" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Multiply: {
		ns0#intA: vars.p1 as Number,
		ns0#intB: vars.p2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="ca407d56-8e86-4fa7-9239-1355569d72a6" config-ref="Web_Service_Consumer_Config" operation="Multiply"/>
		<ee:transform doc:name="Transform Message" doc:id="2d69fe34-d679-4e87-838d-0208df6c7c9a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
