soap_add/src/main/mule/soap_add.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ed9e4b66-61a7-4ae0-8184-ca972a9bdad8" basePath="soap" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="9e17a4a2-9fab-47cd-b5a5-394d8625a4f1" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?WSDL" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="soap_addFlow" doc:id="202a5290-8fd7-4cb0-b9ed-e2b2cd33518c" >
		<http:listener doc:name="Listener" doc:id="6468c2a3-5510-4cbd-a00e-e4e70faa5333" config-ref="HTTP_Listener_config" path="add"/>
		<set-variable value="#[attributes.queryParams.number1]" doc:name="Set Variable" doc:id="266cd719-77c4-4b4d-811e-991e06a1579f" variableName="p1"/>
		<set-variable value="#[attributes.queryParams.number2]" doc:name="Set Variable" doc:id="7d23b5f4-d69b-4c62-acf0-7da7a30aa192" variableName="p2"/>
		<ee:transform doc:name="Transform Message" doc:id="b34e81cb-0509-477f-b16a-596badfe73e6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: vars.p1 as Number,
		ns0#intB: vars.p2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Add" doc:name="Consume" doc:id="91dcade3-7b94-4db7-a4ce-13f7a8a3895c" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="c43c4786-2c3d-4bca-9e0e-50d53f255695" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
