soap_add/src/main/mule/soap_add.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="88aaa180-93d8-45f2-9d51-71a9dd5f4705" basePath="soap" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="f1cc2c03-d7a7-4221-8260-6bc57edf2662" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?WSDL" service="Calculator" port="CalculatorSoap12" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="soap_addFlow" doc:id="b49c5ddc-a2bf-4e81-b7ee-b4c3453234eb" >
		<http:listener doc:name="Listener" doc:id="6327bc71-edc1-4e02-99dd-a8fbc364ce00" config-ref="HTTP_Listener_config" path="add"/>
		<set-variable value="#[attributes.queryParams.number1]" doc:name="Set Variable" doc:id="57717f65-6f2d-45bd-92f3-a8da05f84fae" variableName="p1"/>
		<set-variable value="#[attributes.queryParams.number2]" doc:name="Set Variable" doc:id="2493bfd0-b5ea-4b2e-914e-2557e1054fac" variableName="p2"/>
		<ee:transform doc:name="Transform Message" doc:id="9f642251-4ea4-43b2-90c9-68b7edc1e0f3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: vars.p1 as Number,
		ns0#intB: vars.p2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Add" doc:name="Consume" doc:id="d0075dfb-8337-4600-8114-efa92730fe70" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="1ec59581-55c6-4bb0-9da0-7c303739642b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
