soap_add/src/main/mule/soap_sub.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<flow name="soap_subFlow" doc:id="b8cf33d6-94af-418d-a997-d9e317a24852" >
		<http:listener doc:name="Listener" doc:id="df856c28-5730-4b34-800e-28bd2a90c806" config-ref="HTTP_Listener_config" path="sub"/>
		<set-variable value="#[attributes.queryParams.number1]" doc:name="Set Variable" doc:id="f991b3cb-d106-4793-b714-d7320a657a9c" variableName="p1"/>
		<set-variable value="#[attributes.queryParams.number2]" doc:name="Set Variable" doc:id="e1c20585-774f-47aa-899d-5d4e5c701696" variableName="p2"/>
		<ee:transform doc:name="Transform Message" doc:id="d464e165-aec9-4250-8806-c9defd88008c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Subtract: {
		ns0#intA: vars.p1 as Number,
		ns0#intB: vars.p2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="b1fa0acd-37cc-47c6-8da2-73880d01e330" config-ref="Web_Service_Consumer_Config" operation="Subtract"/>
		<ee:transform doc:name="Transform Message" doc:id="4783dca2-2790-4b6b-87e5-9f4f288ef766" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
