soap_add/src/main/mule/soap_add.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c4fd5956-014b-47e7-bc4b-50c794bedb91" basePath="soap" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="8617f9ce-4725-4e21-939f-6946562f270b" >
		<wsc:connection wsdlLocation="https://ecs.syr.edu/faculty/fawcett/handouts/cse686/code/calcWebService/Calc.asmx?WSDL" service="Calculator_x0020_Web_x0020_Service" port="Calculator_x0020_Web_x0020_ServiceSoap" address="https://ecs.syr.edu/faculty/fawcett/handouts/cse686/code/calcWebService/Calc.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="soap_addFlow" doc:id="1268906d-511a-46ac-8ae7-4529f749dd74" >
		<http:listener doc:name="Listener" doc:id="1b6f2197-4b78-40b0-8a2b-aff6fb88a9ae" config-ref="HTTP_Listener_config" path="add"/>
		<set-variable value="#[attributes.queryParams.number1]" doc:name="Set Variable" doc:id="12e805d9-bded-4988-a3c8-33ac955d80ee" variableName="p1"/>
		<set-variable value="#[attributes.queryParams.number2]" doc:name="Set Variable" doc:id="b06299d4-7f49-4d2e-a9da-bbec5af7b8c4" variableName="p2"/>
		<ee:transform doc:name="Transform Message" doc:id="0d4cef9a-31e0-4dde-9021-442ae8480d8c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#a: vars.p1 as Number,
		ns0#b: vars.p2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Add" doc:name="Consume" doc:id="85a115df-57d9-45fa-97d6-1b30033e3b53" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="24a3f5c7-3d7e-45e2-b039-b9eba647a7f9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
