smtp/src/main/mule/smtp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4f2637fe-900a-4efd-b9df-19c37cf06faf" basePath="smtp" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="c8ee987b-5837-4adb-a2b2-02184113cb0e" >
		<email:smtp-connection host="smtp.gmail.com" port="465" user="pantraprasanthnaidu@gmail.com" password="7795439996pc" >
			<email:properties >
				<email:property key="smtp.STARTTLS.enable" value="true" />
				<email:property key="smtp.SSL.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<flow name="smtpFlow" doc:id="3bff3573-1aaa-479a-816f-881175647a6a" >
		<http:listener doc:name="Listener" doc:id="c1386222-4520-4cb2-a8b6-b7ea3ed359e2" config-ref="HTTP_Listener_config" path="send"/>
		<logger level="INFO" doc:name="Logger" doc:id="99b433e0-43c8-49da-a232-87340472cdc9" message="'need to email'"/>
		<email:send doc:name="Send" doc:id="b050342b-8b49-4a1c-ac4f-9476b7cc7a9a" config-ref="Email_SMTP" fromAddress="pantraprasanthnaidu@gmail.com" subject="sample email" toAddresses="prasanthnaidu9996@gmail.com">
			<email:body >
				<email:content ><![CDATA[#[hello]]]></email:content>
			</email:body>
		</email:send>
		<logger level="INFO" doc:name="Logger" doc:id="e4c410dc-aaaa-40a3-8ad3-1756400f9aa2" message="'email sent successufuly'"/>
	</flow>
</mule>
