smtp/src/main/mule/smtp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2c4430eb-9d3f-4054-a650-0c7bf9a73d6b" basePath="smtp" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="9a74f6c6-9c4d-461f-9715-75c49a8f8b44" >
		<email:smtp-connection host="smtp.gmail.com" port="587" user="pantraprasanthnaidu@gmail.com" password="7795439996pc" >
			<email:properties >
				<email:property key="email.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<flow name="smtpFlow" doc:id="de664b68-f2a5-4426-9498-5c26ac7f134e" >
		<http:listener doc:name="Listener" doc:id="f3487cf5-1921-4493-b724-326138d4c26f" config-ref="HTTP_Listener_config" path="user"/>
		<logger level="INFO" doc:name="Logger" doc:id="d80b2c7e-de9a-4966-8b6d-61b1e41d7d3a" message="#['message from email']"/>
		<email:send doc:name="Send" doc:id="958f42e1-9107-4d18-893b-1f54b73f9cd6" config-ref="Email_SMTP" toAddresses="pcprasanthmule@gmail.com" fromAddress="pantraprasanthnaidu@gmail.com" subject="sample mail from mule">
			<email:body >
				<email:content ><![CDATA[#[hello]]]></email:content>
			</email:body>
		</email:send>
		<logger level="INFO" doc:name="Logger" doc:id="56687ada-9409-4bc4-a8df-62951a6b9863" message="#['mail sent successufuly']"/>
	</flow>
</mule>
